<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.BgMsgMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.BgMsg" >
    <constructor >
      <idArg column="MSG_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="MSG_TITLE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MSG_DETAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MSG_SENDER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COMPANY_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_MODIFY_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MSG_ID, MSG_TITLE, MSG_DETAIL, MSG_SENDER, COMPANY_ID, LAST_MODIFY_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.BgMsgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from BG_MSG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BG_MSG
    where MSG_ID = #{msgId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BG_MSG
    where MSG_ID = #{msgId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.BgMsgExample" >
    delete from BG_MSG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.BgMsg" >
    insert into BG_MSG (MSG_ID, MSG_TITLE, MSG_DETAIL, 
      MSG_SENDER, COMPANY_ID, LAST_MODIFY_DATE
      )
    values (#{msgId,jdbcType=DECIMAL}, #{msgTitle,jdbcType=VARCHAR}, #{msgDetail,jdbcType=VARCHAR}, 
      #{msgSender,jdbcType=VARCHAR}, #{companyId,jdbcType=DECIMAL}, #{lastModifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.BgMsg" >
    insert into BG_MSG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        MSG_ID,
      </if>
      <if test="msgTitle != null" >
        MSG_TITLE,
      </if>
      <if test="msgDetail != null" >
        MSG_DETAIL,
      </if>
      <if test="msgSender != null" >
        MSG_SENDER,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        #{msgId,jdbcType=DECIMAL},
      </if>
      <if test="msgTitle != null" >
        #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="msgDetail != null" >
        #{msgDetail,jdbcType=VARCHAR},
      </if>
      <if test="msgSender != null" >
        #{msgSender,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.BgMsgExample" resultType="java.lang.Integer" >
    select count(*) from BG_MSG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update BG_MSG
    <set >
      <if test="record.msgId != null" >
        MSG_ID = #{record.msgId,jdbcType=DECIMAL},
      </if>
      <if test="record.msgTitle != null" >
        MSG_TITLE = #{record.msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.msgDetail != null" >
        MSG_DETAIL = #{record.msgDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.msgSender != null" >
        MSG_SENDER = #{record.msgSender,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastModifyDate != null" >
        LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update BG_MSG
    set MSG_ID = #{record.msgId,jdbcType=DECIMAL},
      MSG_TITLE = #{record.msgTitle,jdbcType=VARCHAR},
      MSG_DETAIL = #{record.msgDetail,jdbcType=VARCHAR},
      MSG_SENDER = #{record.msgSender,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.BgMsg" >
    update BG_MSG
    <set >
      <if test="msgTitle != null" >
        MSG_TITLE = #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="msgDetail != null" >
        MSG_DETAIL = #{msgDetail,jdbcType=VARCHAR},
      </if>
      <if test="msgSender != null" >
        MSG_SENDER = #{msgSender,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where MSG_ID = #{msgId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.BgMsg" >
    update BG_MSG
    set MSG_TITLE = #{msgTitle,jdbcType=VARCHAR},
      MSG_DETAIL = #{msgDetail,jdbcType=VARCHAR},
      MSG_SENDER = #{msgSender,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP}
    where MSG_ID = #{msgId,jdbcType=DECIMAL}
  </update>
</mapper>