<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.CgOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.CgOrderDetail" >
    <constructor >
      <idArg column="ORDER_DETAIL_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="ORDER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PRODUCT_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PRODUCT_PRICE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="PRODUCT_NUM" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PRODUCT_WAREHOUSING" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STAFF_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="ORDERATER_REMARK" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COMPANY_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_MODIFY_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_DETAIL_ID, ORDER_ID, PRODUCT_ID, PRODUCT_PRICE, PRODUCT_NUM, PRODUCT_WAREHOUSING, 
    STAFF_ID, ORDERATER_REMARK, COMPANY_ID, LAST_MODIFY_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.CgOrderDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CG_ORDER_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CG_ORDER_DETAIL
    where ORDER_DETAIL_ID = #{orderDetailId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CG_ORDER_DETAIL
    where ORDER_DETAIL_ID = #{orderDetailId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.CgOrderDetailExample" >
    delete from CG_ORDER_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.CgOrderDetail" >
    insert into CG_ORDER_DETAIL (ORDER_DETAIL_ID, ORDER_ID, PRODUCT_ID, 
      PRODUCT_PRICE, PRODUCT_NUM, PRODUCT_WAREHOUSING, 
      STAFF_ID, ORDERATER_REMARK, COMPANY_ID, 
      LAST_MODIFY_DATE)
    values (#{orderDetailId,jdbcType=DECIMAL}, #{orderId,jdbcType=DECIMAL}, #{productId,jdbcType=DECIMAL}, 
      #{productPrice,jdbcType=DECIMAL}, #{productNum,jdbcType=DECIMAL}, #{productWarehousing,jdbcType=VARCHAR}, 
      #{staffId,jdbcType=DECIMAL}, #{orderaterRemark,jdbcType=VARCHAR}, #{companyId,jdbcType=DECIMAL}, 
      #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.CgOrderDetail" >
    insert into CG_ORDER_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderDetailId != null" >
        ORDER_DETAIL_ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="productPrice != null" >
        PRODUCT_PRICE,
      </if>
      <if test="productNum != null" >
        PRODUCT_NUM,
      </if>
      <if test="productWarehousing != null" >
        PRODUCT_WAREHOUSING,
      </if>
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="orderaterRemark != null" >
        ORDERATER_REMARK,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderDetailId != null" >
        #{orderDetailId,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=DECIMAL},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productNum != null" >
        #{productNum,jdbcType=DECIMAL},
      </if>
      <if test="productWarehousing != null" >
        #{productWarehousing,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=DECIMAL},
      </if>
      <if test="orderaterRemark != null" >
        #{orderaterRemark,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.CgOrderDetailExample" resultType="java.lang.Integer" >
    select count(*) from CG_ORDER_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CG_ORDER_DETAIL
    <set >
      <if test="record.orderDetailId != null" >
        ORDER_DETAIL_ID = #{record.orderDetailId,jdbcType=DECIMAL},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      </if>
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=DECIMAL},
      </if>
      <if test="record.productPrice != null" >
        PRODUCT_PRICE = #{record.productPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.productNum != null" >
        PRODUCT_NUM = #{record.productNum,jdbcType=DECIMAL},
      </if>
      <if test="record.productWarehousing != null" >
        PRODUCT_WAREHOUSING = #{record.productWarehousing,jdbcType=VARCHAR},
      </if>
      <if test="record.staffId != null" >
        STAFF_ID = #{record.staffId,jdbcType=DECIMAL},
      </if>
      <if test="record.orderaterRemark != null" >
        ORDERATER_REMARK = #{record.orderaterRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastModifyDate != null" >
        LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CG_ORDER_DETAIL
    set ORDER_DETAIL_ID = #{record.orderDetailId,jdbcType=DECIMAL},
      ORDER_ID = #{record.orderId,jdbcType=DECIMAL},
      PRODUCT_ID = #{record.productId,jdbcType=DECIMAL},
      PRODUCT_PRICE = #{record.productPrice,jdbcType=DECIMAL},
      PRODUCT_NUM = #{record.productNum,jdbcType=DECIMAL},
      PRODUCT_WAREHOUSING = #{record.productWarehousing,jdbcType=VARCHAR},
      STAFF_ID = #{record.staffId,jdbcType=DECIMAL},
      ORDERATER_REMARK = #{record.orderaterRemark,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.CgOrderDetail" >
    update CG_ORDER_DETAIL
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      </if>
      <if test="productPrice != null" >
        PRODUCT_PRICE = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productNum != null" >
        PRODUCT_NUM = #{productNum,jdbcType=DECIMAL},
      </if>
      <if test="productWarehousing != null" >
        PRODUCT_WAREHOUSING = #{productWarehousing,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null" >
        STAFF_ID = #{staffId,jdbcType=DECIMAL},
      </if>
      <if test="orderaterRemark != null" >
        ORDERATER_REMARK = #{orderaterRemark,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ORDER_DETAIL_ID = #{orderDetailId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.CgOrderDetail" >
    update CG_ORDER_DETAIL
    set ORDER_ID = #{orderId,jdbcType=DECIMAL},
      PRODUCT_ID = #{productId,jdbcType=DECIMAL},
      PRODUCT_PRICE = #{productPrice,jdbcType=DECIMAL},
      PRODUCT_NUM = #{productNum,jdbcType=DECIMAL},
      PRODUCT_WAREHOUSING = #{productWarehousing,jdbcType=VARCHAR},
      STAFF_ID = #{staffId,jdbcType=DECIMAL},
      ORDERATER_REMARK = #{orderaterRemark,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP}
    where ORDER_DETAIL_ID = #{orderDetailId,jdbcType=DECIMAL}
  </update>
</mapper>