<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.XsCustomerContactMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.XsCustomerContact" >
    <constructor >
      <idArg column="CONTACT_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="CUSTOMER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="CONTACT_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ENGLISH_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="JOB" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DEPARTMENT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MOBILEPHONE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OFFICE_PHONE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EMAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ADDRESS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NOTE_INFORMATION" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COMPANY_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_MODIFY_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CONTACT_ID, CUSTOMER_ID, CONTACT_NAME, ENGLISH_NAME, JOB, DEPARTMENT, MOBILEPHONE, 
    OFFICE_PHONE, EMAIL, ADDRESS, NOTE_INFORMATION, COMPANY_ID, LAST_MODIFY_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.XsCustomerContactExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from XS_CUSTOMER_CONTACT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from XS_CUSTOMER_CONTACT
    where CONTACT_ID = #{contactId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from XS_CUSTOMER_CONTACT
    where CONTACT_ID = #{contactId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.XsCustomerContactExample" >
    delete from XS_CUSTOMER_CONTACT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.XsCustomerContact" >
    insert into XS_CUSTOMER_CONTACT (CONTACT_ID, CUSTOMER_ID, CONTACT_NAME, 
      ENGLISH_NAME, JOB, DEPARTMENT, 
      MOBILEPHONE, OFFICE_PHONE, EMAIL, 
      ADDRESS, NOTE_INFORMATION, COMPANY_ID, 
      LAST_MODIFY_DATE)
    values (#{contactId,jdbcType=DECIMAL}, #{customerId,jdbcType=DECIMAL}, #{contactName,jdbcType=VARCHAR}, 
      #{englishName,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{mobilephone,jdbcType=VARCHAR}, #{officePhone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{noteInformation,jdbcType=VARCHAR}, #{companyId,jdbcType=DECIMAL}, 
      #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.XsCustomerContact" >
    insert into XS_CUSTOMER_CONTACT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contactId != null" >
        CONTACT_ID,
      </if>
      <if test="customerId != null" >
        CUSTOMER_ID,
      </if>
      <if test="contactName != null" >
        CONTACT_NAME,
      </if>
      <if test="englishName != null" >
        ENGLISH_NAME,
      </if>
      <if test="job != null" >
        JOB,
      </if>
      <if test="department != null" >
        DEPARTMENT,
      </if>
      <if test="mobilephone != null" >
        MOBILEPHONE,
      </if>
      <if test="officePhone != null" >
        OFFICE_PHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="noteInformation != null" >
        NOTE_INFORMATION,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contactId != null" >
        #{contactId,jdbcType=DECIMAL},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=DECIMAL},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="officePhone != null" >
        #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="noteInformation != null" >
        #{noteInformation,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.XsCustomerContactExample" resultType="java.lang.Integer" >
    select count(*) from XS_CUSTOMER_CONTACT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update XS_CUSTOMER_CONTACT
    <set >
      <if test="record.contactId != null" >
        CONTACT_ID = #{record.contactId,jdbcType=DECIMAL},
      </if>
      <if test="record.customerId != null" >
        CUSTOMER_ID = #{record.customerId,jdbcType=DECIMAL},
      </if>
      <if test="record.contactName != null" >
        CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.englishName != null" >
        ENGLISH_NAME = #{record.englishName,jdbcType=VARCHAR},
      </if>
      <if test="record.job != null" >
        JOB = #{record.job,jdbcType=VARCHAR},
      </if>
      <if test="record.department != null" >
        DEPARTMENT = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.mobilephone != null" >
        MOBILEPHONE = #{record.mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="record.officePhone != null" >
        OFFICE_PHONE = #{record.officePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.noteInformation != null" >
        NOTE_INFORMATION = #{record.noteInformation,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastModifyDate != null" >
        LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update XS_CUSTOMER_CONTACT
    set CONTACT_ID = #{record.contactId,jdbcType=DECIMAL},
      CUSTOMER_ID = #{record.customerId,jdbcType=DECIMAL},
      CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      ENGLISH_NAME = #{record.englishName,jdbcType=VARCHAR},
      JOB = #{record.job,jdbcType=VARCHAR},
      DEPARTMENT = #{record.department,jdbcType=VARCHAR},
      MOBILEPHONE = #{record.mobilephone,jdbcType=VARCHAR},
      OFFICE_PHONE = #{record.officePhone,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      NOTE_INFORMATION = #{record.noteInformation,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.XsCustomerContact" >
    update XS_CUSTOMER_CONTACT
    <set >
      <if test="customerId != null" >
        CUSTOMER_ID = #{customerId,jdbcType=DECIMAL},
      </if>
      <if test="contactName != null" >
        CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        ENGLISH_NAME = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        JOB = #{job,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        MOBILEPHONE = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="officePhone != null" >
        OFFICE_PHONE = #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="noteInformation != null" >
        NOTE_INFORMATION = #{noteInformation,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CONTACT_ID = #{contactId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.XsCustomerContact" >
    update XS_CUSTOMER_CONTACT
    set CUSTOMER_ID = #{customerId,jdbcType=DECIMAL},
      CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      ENGLISH_NAME = #{englishName,jdbcType=VARCHAR},
      JOB = #{job,jdbcType=VARCHAR},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      MOBILEPHONE = #{mobilephone,jdbcType=VARCHAR},
      OFFICE_PHONE = #{officePhone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      NOTE_INFORMATION = #{noteInformation,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP}
    where CONTACT_ID = #{contactId,jdbcType=DECIMAL}
  </update>
</mapper>