<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.XtPowerSubfieldMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.XtPowerSubfield" >
    <constructor >
      <idArg column="SUBFIELD_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="SUBFIELD_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="REMARK" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LAST_MODIFY_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SUBFIELD_ID, SUBFIELD_NAME, REMARK, LAST_MODIFY_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.XtPowerSubfieldExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from XT_POWER_SUBFIELD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from XT_POWER_SUBFIELD
    where SUBFIELD_ID = #{subfieldId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from XT_POWER_SUBFIELD
    where SUBFIELD_ID = #{subfieldId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.XtPowerSubfieldExample" >
    delete from XT_POWER_SUBFIELD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.XtPowerSubfield" >
    insert into XT_POWER_SUBFIELD (SUBFIELD_ID, SUBFIELD_NAME, REMARK, 
      LAST_MODIFY_DATE)
    values (#{subfieldId,jdbcType=DECIMAL}, #{subfieldName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.XtPowerSubfield" >
    insert into XT_POWER_SUBFIELD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subfieldId != null" >
        SUBFIELD_ID,
      </if>
      <if test="subfieldName != null" >
        SUBFIELD_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subfieldId != null" >
        #{subfieldId,jdbcType=DECIMAL},
      </if>
      <if test="subfieldName != null" >
        #{subfieldName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.XtPowerSubfieldExample" resultType="java.lang.Integer" >
    select count(*) from XT_POWER_SUBFIELD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update XT_POWER_SUBFIELD
    <set >
      <if test="record.subfieldId != null" >
        SUBFIELD_ID = #{record.subfieldId,jdbcType=DECIMAL},
      </if>
      <if test="record.subfieldName != null" >
        SUBFIELD_NAME = #{record.subfieldName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyDate != null" >
        LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update XT_POWER_SUBFIELD
    set SUBFIELD_ID = #{record.subfieldId,jdbcType=DECIMAL},
      SUBFIELD_NAME = #{record.subfieldName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.XtPowerSubfield" >
    update XT_POWER_SUBFIELD
    <set >
      <if test="subfieldName != null" >
        SUBFIELD_NAME = #{subfieldName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SUBFIELD_ID = #{subfieldId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.XtPowerSubfield" >
    update XT_POWER_SUBFIELD
    set SUBFIELD_NAME = #{subfieldName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP}
    where SUBFIELD_ID = #{subfieldId,jdbcType=DECIMAL}
  </update>
</mapper>