<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.XtPowerRoleMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.XtPowerRole" >
    <constructor >
      <idArg column="POWER_ROLE_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="POWER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="ROLE_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="OPERATOR_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_MODIFY_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    POWER_ROLE_ID, POWER_ID, ROLE_ID, OPERATOR_ID, LAST_MODIFY_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.XtPowerRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from XT_POWER_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from XT_POWER_ROLE
    where POWER_ROLE_ID = #{powerRoleId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from XT_POWER_ROLE
    where POWER_ROLE_ID = #{powerRoleId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.XtPowerRoleExample" >
    delete from XT_POWER_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.XtPowerRole" >
    insert into XT_POWER_ROLE (POWER_ROLE_ID, POWER_ID, ROLE_ID, 
      OPERATOR_ID, LAST_MODIFY_DATE)
    values (#{powerRoleId,jdbcType=DECIMAL}, #{powerId,jdbcType=DECIMAL}, #{roleId,jdbcType=DECIMAL}, 
      #{operatorId,jdbcType=DECIMAL}, #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.XtPowerRole" >
    insert into XT_POWER_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="powerRoleId != null" >
        POWER_ROLE_ID,
      </if>
      <if test="powerId != null" >
        POWER_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID,
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="powerRoleId != null" >
        #{powerRoleId,jdbcType=DECIMAL},
      </if>
      <if test="powerId != null" >
        #{powerId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.XtPowerRoleExample" resultType="java.lang.Integer" >
    select count(*) from XT_POWER_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update XT_POWER_ROLE
    <set >
      <if test="record.powerRoleId != null" >
        POWER_ROLE_ID = #{record.powerRoleId,jdbcType=DECIMAL},
      </if>
      <if test="record.powerId != null" >
        POWER_ID = #{record.powerId,jdbcType=DECIMAL},
      </if>
      <if test="record.roleId != null" >
        ROLE_ID = #{record.roleId,jdbcType=DECIMAL},
      </if>
      <if test="record.operatorId != null" >
        OPERATOR_ID = #{record.operatorId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastModifyDate != null" >
        LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update XT_POWER_ROLE
    set POWER_ROLE_ID = #{record.powerRoleId,jdbcType=DECIMAL},
      POWER_ID = #{record.powerId,jdbcType=DECIMAL},
      ROLE_ID = #{record.roleId,jdbcType=DECIMAL},
      OPERATOR_ID = #{record.operatorId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.XtPowerRole" >
    update XT_POWER_ROLE
    <set >
      <if test="powerId != null" >
        POWER_ID = #{powerId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID = #{operatorId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where POWER_ROLE_ID = #{powerRoleId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.XtPowerRole" >
    update XT_POWER_ROLE
    set POWER_ID = #{powerId,jdbcType=DECIMAL},
      ROLE_ID = #{roleId,jdbcType=DECIMAL},
      OPERATOR_ID = #{operatorId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP}
    where POWER_ROLE_ID = #{powerRoleId,jdbcType=DECIMAL}
  </update>
</mapper>